@import url('https://fonts.googleapis.com/css?family=Raleway|&display=swap');

hr {
    border-color: #cccccc;
    margin: 0;
}

.no-margins {
    margin: 0px;
}

.with-margins {
    margin: 10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}