{% extends 'flask_user/_authorized_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h6>
    {% if call_or_get(current_user.is_authenticated) %}
    Home
    {% else %}
    <a href="{{ url_for('home_page')}}">Home</a>
    {% endif %}
    &nbsp; > &nbsp;<a href="{{ url_for('member_page') }}">Member's Page</a>&nbsp; > &nbsp;<a href="{{ url_for('user.edit_user_profile') }}">User Profile</a>&nbsp; > &nbsp;<a href="{{ url_for('user.change_username') }}">Change Username: {{ current_user.username or current_user.email }}</a>&nbsp;<i class="material-icons prefix tooltipped blue-text text-darken-4" data-position="bottom" data-tooltip="<p class='left-align'>Please enter your new username (New Username), using 250 characters or less with letters, digits and @ . + - _ only.</p><br><p class='left-align'>Enter your current (Old Password) password and click on the CHANGE USERNAME button.</p>">help</i>
</h6>

<form method="POST" class="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.new_username) }}
    {{ render_field(form.old_password) }}
    <div class="button_top_padding">
    {{ render_submit_field(form.submit) }}
    </div>
</form>

{% endblock %}