{% extends 'flask_user/_authorized_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h6>
    {% if call_or_get(current_user.is_authenticated) %}
    Home
    {% else %}
    <a href="{{ url_for('home_page')}}">Home</a>
    {% endif %}
    &nbsp; > &nbsp;<a href="{{ url_for('member_page') }}">Member's Page</a>&nbsp; > &nbsp;<a href="{{ url_for('user.edit_user_profile') }}">{%trans%}User Profile{%endtrans%}</a>&nbsp; > &nbsp;<a href="{{ url_for('user.change_password') }}">{%trans%}Change Password{%endtrans%}: {{ current_user.username or current_user.email }}</a>&nbsp;<i class="material-icons prefix tooltipped blue-text text-darken-4" data-position="bottom" data-tooltip="<p class='left-align'>Please enter your current (old) password, then enter your new password in each field.</p><br><p class='left-align'>Please enter a password longer than 8 characters, using a mixture of numbers and letters, and ideally one or more special characters.</p><br><p class='left-align'>When done, click on the CHANGE PASSWORD button.</p>">help</i>
</h6>

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.old_password, tabindex=10) }}
    {{ render_field(form.new_password, tabindex=20) }}
    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
    {{ render_field(form.retype_password, tabindex=30) }}
    {% endif %}
    <div class="button_top_padding">
    {{ render_submit_field(form.submit, tabindex=90) }}
    </div>
</form>

{% endblock %}