{% extends 'flask_user/_authorized_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

<h6>
    {% if call_or_get(current_user.is_authenticated) %}
    Home
    {% else %}
    <a href="{{ url_for('home_page')}}">Home</a>
    {% endif %}
    &nbsp; > &nbsp;<a href="{{ url_for('member_page') }}">Member's Page</a>&nbsp; > &nbsp;<a
        href="{{ url_for('user.edit_user_profile') }}">User Profile:
        {{ current_user.username or current_user.email }}</a>&nbsp;<i
        class="material-icons prefix tooltipped blue-text text-darken-4" data-position="bottom"
        data-tooltip="<p class='left-align'>Please enter your first (First Name) and last name (Last Name) in the fields below, and then click on the UPDATE button when you are done.</p>">help</i>
</h6>

<form method="POST" class="form">
    {{ form.hidden_tag() }}
    <div class="field_top_padding">
        <div class="form-group">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix tooltipped" data-position="bottom"
                        data-tooltip="Please enter your first name.">person</i>
                    <input class="form-control" id="first_name" name="first_name" required="" type="text"
                        value="{{current_user.first_name}}">
                    <label for="first_name" class="control-label active">First Name</label>
                </div>
            </div>
        </div>
    </div>
    <div class="field_top_padding">
        <div class="form-group">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix tooltipped" data-position="bottom"
                        data-tooltip="Please enter your last name/surname.">group</i>
                    <input class="form-control" id="last_name" name="last_name" required="" type="text"
                        value="{{current_user.last_name}}">
                    <label for="last_name" class="control-label active">Last Name</label>
                </div>
            </div>
        </div>
    </div>
    <div class="button_top_padding">
        <button class="btn waves-effect waves-light" type="submit" name="action">Update
            <i class="material-icons right">person_add</i>
        </button>
    </div>
</form>
<br>

{% if not user_manager.USER_ENABLE_AUTH0 %}
{% if user_manager.USER_ENABLE_CHANGE_USERNAME %}
<p><a href="{{ url_for('user.change_username') }}">Change Username</a></p>
{% endif %}
{% if user_manager.USER_ENABLE_CHANGE_PASSWORD %}
<p><a href="{{ url_for('user.change_password') }}">Change Password</a></p>
{% endif %}
{% endif %}
{% if current_user.username != "admin" %}
<a class="modal-trigger pink-text text-darken-1" href="#delete_user">Delete User</a>
<div id="delete_user" class="modal">
    <div class="modal-content center">
        <h6 class="pink-text text-darken-1">Deleting your User account and all your Books: {{current_user.username}}
        </h6>
        <p>This action will permanently delete your User account and all your Books from the Book Repository. Are you
            sure you wish to do this?</p>
    </div>
    <div class="modal-footer">
        <a href="{{ url_for('delete_user') }}" class="modal-close btn blue darken-4"><i
                class="material-icons white-text right">delete_forever</i>&nbsp;Yes</a>
        <a href="#!" class="modal-close btn blue darken-4"><i
                class="material-icons white-text right">pan_tool</i>&nbsp;No</a>
    </div>
</div>
{% endif %}
{% endblock %}