{% extends 'flask_user/_authorized_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

<h6>
    {% if call_or_get(current_user.is_authenticated) %}
    Home
    {% else %}
    <a href="{{ url_for('home_page')}}">Home</a>
    {% endif %}
    &nbsp; > &nbsp;<a href="{{ url_for('member_page') }}">Member's Page</a>&nbsp; > &nbsp;<a href="{{ url_for('user.edit_user_profile') }}">{%trans%}User Profile{%endtrans%}: {{ current_user.username or current_user.email }}</a>&nbsp;<i class="material-icons prefix tooltipped blue-text text-darken-4" data-position="bottom" data-tooltip="<p class='left-align'>Please enter your first (First Name) and last name (Last Name) in the fields below, and then click on the UPDATE button when you are done.</p>">help</i>
</h6>

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if not field.flags.hidden %}
            {% if field.type=='SubmitField' %}
            <div class="button_top_padding">
                {{ render_submit_field(field, tabindex=loop.index*10) }}
            </div>
            {% else %}
            <div class="button_top_padding">
                {{ render_field(field, tabindex=loop.index*10) }}
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</form>
<br/>

{% if not user_manager.USER_ENABLE_AUTH0 %}
    {% if user_manager.USER_ENABLE_CHANGE_USERNAME %}
        <p><a href="{{ url_for('user.change_username') }}">{%trans%}Change username{%endtrans%}</a></p>
    {% endif %}
    {% if user_manager.USER_ENABLE_CHANGE_PASSWORD %}
        <p><a href="{{ url_for('user.change_password') }}">{%trans%}Change password{%endtrans%}</a></p>
    {% endif %}
{% endif %}

{% endblock %}