{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h6>
    {% if call_or_get(current_user.is_authenticated) %}
    Home
    {% else %}
    <a href="{{ url_for('home_page')}}">Home</a>
    {% endif %}
    &nbsp; > &nbsp;<a href="{{ url_for('user.login') }}">{%trans%}Sign In Page{%endtrans%}</a>&nbsp; > &nbsp;<a href="{{ url_for('user.forgot_password') }}">{%trans%}Forgot Password{%endtrans%}</a>&nbsp;<i class="material-icons prefix tooltipped blue-text text-darken-4" data-position="bottom" data-tooltip="<p class='left-align'>Please enter your e-mail address, the same one you used when you registered.</p>">help</i>
</h6>
</h6>

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.email, tabindex=10) }}
    <div class="button_top_padding">
    {{ render_submit_field(form.submit, tabindex=90) }}
    </div>
</form>

{% endblock %}