{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h6>
    {% if call_or_get(current_user.is_authenticated) %}
    Home
    {% else %}
    <a href="{{ url_for('home_page')}}">Home</a>
    {% endif %}
    &nbsp; > &nbsp;<a href="{{ url_for('user.login') }}">Sign In Page</a>&nbsp; > &nbsp;<a href="{{ url_for('user.forgot_password') }}">Forgot Password</a>&nbsp;<i class="material-icons prefix tooltipped blue-text text-darken-4" data-position="bottom" data-tooltip="<p class='left-align'>Please enter your e-mail address, the same one you used when you registered.</p>">help</i>
</h6>

<form method="POST" class="form">
    {{ form.hidden_tag() }}
    <div class="field_top_padding">
    <div class="form-group">
        <label for="email" class="control-label">Your Email Address</label>
        <input class="form-control" id="email" name="email" required="" type="text" value="">
    </div>
    </div>
    <div class="button_top_padding">
    <button class="btn waves-effect waves-light" type="submit" name="action">Send reset password email
        <i class="material-icons right">email</i>
    </button>
    </div>
</form>

{% endblock %}