{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h6><a href="{{ url_for('home_page')}}">Home</a>&nbsp; > &nbsp;<a href="{{ url_for('user.login') }}">Sign In
        Page</a>&nbsp;<i class="material-icons prefix tooltipped blue-text text-darken-4" data-position="bottom"
        role="tooltip"
        data-tooltip="<p class='left-align'>Please enter your username or email (Username or Email), followed by your password (Password), the same ones you used when you registered.</p><br><p class='left-align'>Please click the checkbox (Remember Me) if you want to remain logged in.</p><br><p class='left-align'>Click on the SIGN IN button when done filling in the username and password fields.</p>">help</i>
</h6>
<form method="POST" class="form">
    {{ form.hidden_tag() }}

    {# Username or Email field #}
    {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
    <div class="field_top_padding">
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix tooltipped" data-position="bottom"
                        data-tooltip="Please enter your username or email.">person</i>
                    {{ field(class_='form-control') }}
                    <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
                    {% if field.errors %}
                    {% for e in field.errors %}
                    <p class="help-block">{{ e }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# Password field #}
    {% set field = form.password %}
    <div class="field_top_padding">
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix tooltipped" data-position="bottom"
                        data-tooltip="Please enter your password.">vpn_key</i>
                    {{ field(class_='form-control') }}
                    <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
                    {% if field.errors %}
                    {% for e in field.errors %}
                    <p class="help-block">{{ e }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# Remember me #}
    {% if user_manager.USER_ENABLE_REMEMBER_ME %}
    <div class="field_top_padding">
        <div class="row">
            <div class="col s12">
                <i class="material-icons prefix tooltipped" data-position="bottom"
                    data-tooltip="Please click the checkbox (Remember Me) if you want to remain logged in.">bookmark</i>
                <label id="remember_me_label">Remember Me&nbsp;
                    <input id="remember_me" name="remember_me" type="checkbox" /><span></span>
                </label>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="button_top_padding">
        <button class="btn waves-effect waves-light" type="submit" name="action">Sign In
            <i class="material-icons right">login</i>
        </button>
    </div>
</form>
<br>
{% if user_manager.USER_ENABLE_REGISTER and not user_manager.USER_REQUIRE_INVITATION %}
<p><a href="{{ url_for('user.register') }}">New here? Register.</a></p>
{% endif %}
{% if user_manager.USER_ENABLE_FORGOT_PASSWORD %}
<p><a href="{{ url_for('user.forgot_password') }}">Forgot your Password?</a></p>
{% endif %}
{% endblock %}