{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h6><a href="#">Reset Password</a></h6>

<form method="POST" class="form">
    {{ form.hidden_tag() }}
    <div class="field_top_padding">
    {{ render_field(form.new_password) }}
    </div>
    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
    <div class="field_top_padding">
        {{ render_field(form.retype_password) }}
    </div>
    {% endif %}
    <div class="button_top_padding">
    <button class="btn waves-effect waves-light" type="submit" name="action">Change Password<i class="material-icons right">vpn_key</i>
    </button>
    </div>
</form>

{% endblock %}