{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h6><a href="{{ url_for('home_page')}}">Home</a>&nbsp; > &nbsp;<a href="{{ url_for('user.login') }}">Sign In Page</a>&nbsp; > &nbsp;<a href="{{ url_for('user.resend_email_confirmation') }}">Resend Confirmation Email</a>&nbsp;<i class="material-icons prefix tooltipped blue-text text-darken-4" data-position="bottom"
    data-tooltip="<p class='left-align'>Please enter your e-mail address, the same one you used when you registered.</p>">help</i></h6>

<form method="POST" class="form">
    {{ form.hidden_tag() }}
    <div class="field_top_padding">
    {{ render_field(form.email) }}
    {{ render_submit_field(form.submit) }}
    </div>
</form>

{% endblock %}