{% extends "flask_user_layout.html" %}
{% block content %}
{# Macro for creating navigation links #}
{% macro render_navigation(pagination, endpoint) %}
<div class="container">
    <h6>
        {% if call_or_get(current_user.is_authenticated) %}
        Home
        {% else %}
        <a href="{{ url_for('home_page')}}">Home</a>
        {% endif %}
        &nbsp; > &nbsp;<a href="{{ url_for('admin_dashboard') }}">Admin Page</a>&nbsp;<i
            class="material-icons prefix tooltipped blue-text text-darken-4" data-position="bottom" role="tooltip"
            data-tooltip="<p class='left-align'>USER MANAGEMENT</p><br><p class='left-align'>---------------</p><br>
        <p class='left-align'>To update a user's e-mail, or inactivate/activate their account, please click on the user link in the table.</p><br>
        <p class='left-align'>In the user modal, toggle the switch to inactive (user can't sign in)/active (user can sign in) if required.</p><br>
        <p class='left-align'>The admin account has no switch as this account must always be active.</p><br>
        <p class='left-align'>Update the e-mail in the e-mail field.</p><br>
        <p class='left-align'>Either click on Update to save the changes or Cancel to leave the modal.</p><br>
        <p class='left-align'>To PERMANENTLY delete a user and the associated books, click on the Delete button.</p><br>
        <p class='left-align'>Admin: PLEASE note the MongoDB sort order is integers first, UPPER-CASE second, and lower-case third.</p><br>
        <p>&nbsp;</p>
        <p class='left-align'>INITIAL LOAD OF GENRES AND SAMPLE BOOKS</p><br><p class='left-align'>---------------</p><br>
        <p class='left-align'>To load book genres or a sample selection of books, please hover over the category icon (triangle, square, circle) and make your selection from the drop-down menu.</p>">help</i>

        <span class="book-dropdown right">
            <span class="white-text btn waves-effect waves-light right blue darken-4"><i
                    class="material-icons white-text">category</i></span>
            <span class="book-dropdown-content">
                <span><a href="{{ url_for('load_genres')}}" class="blue-text btn text-darken-4 white">Load Genres&nbsp;&nbsp;&nbsp;<i class="material-icons blue-text text-darken-4 right">subject</i></a></span>
                <span><br>&nbsp;<br></span>
                <span><a href="{{ url_for('load_books')}}" class="blue-text btn text-darken-4 white">Load Books&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons blue-text text-darken-4 right">import_contacts</i></a></span>
                <span><br>&nbsp;<br></span>
                <span><a href="#statistics" class="blue-text btn text-darken-4 white modal-trigger">Statistics&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons blue-text text-darken-4 right">insert_chart</i></a></span>
            </span>
        </span>
    </h6>
    <div id="statistics" class="modal center">
        <div class="modal-content">
            <h6>Book Repository Statistics</h6>
            <p class="left">Number of Users: {{user_details_query_count}}</p><br>
            <p class="left">Number of Books: {{book_list_count}}</p><br><br>
            <table>
                <tr class="white-text blue darken-4">
                    <th>Book Genre</th>
                    <th>Number of Books</th>
                </tr>
                {% for key, value in tuple_in_right_order %}
                <tr class="{{loop.cycle('white','blue-grey lighten-5')}}">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close btn waves-effect waves-light blue darken-4"><i
                    class="material-icons white-text right">done</i>&nbsp;Done!</a>
        </div>
    </div>
    
    <div class="pagination">Page #:
        {% if page_prev == 0 %}
        &lt;&nbsp;
        {% else %}
        <a href="{{ url_for(endpoint, page=page_prev) }}">&lt;&nbsp;</a>
        {% endif %}
        {% if pagination.has_next %}
        <a href="{{ url_for(endpoint, page=page_next) }}">&gt;&nbsp;</a>
        {% else %}
        &gt;&nbsp;
        {% endif %}
        {% for page in pagination.iter_pages() %}
        {% if page %}
        {% if page != pagination.page %}
        <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
        {% else %}
        <span style="background-color: #0D47A1; color: white; padding: 1px 5px;">{{ page }}</span>
        {% endif %}
        {% else %}
        <span class="ellipsis">…</span>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endmacro %}

{{ render_navigation(user_details_query, 'admin_dashboard') }}

<div class="container">
    {% if user_details_query %}
    <table>
        <tr class="white-text blue darken-4">
            <th>User</th>
            <th>Full Name</th>
            <th>Active</th>
            <th>E-mail</th>
        </tr>
        {% for user in user_details_query.items %}
        <tr class="{{loop.cycle('white','blue-grey lighten-5')}}">
            <td><a class="modal-trigger" href="#edit_user_{{user.username}}">{{user.username}}</a></td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            {% if user.active is true %}
            <td class="teal-text text-lighten-1 "><i class="material-icons teal-text text-lighten-1">lock_open</i></td>
            {% else %}
            <td class="pink-text text-darken-1 "><i class="material-icons pink-text darken-1">lock</i></td>
            {% endif %}
            <td>{{user.email}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% for user in user_details_query.items %}
    <div id="edit_user_{{user.username}}" class="modal center">
        <div class="modal-content">
            <h6>User: {{user.username}}</h6>
            <form action="{{ url_for('update_user', user_id=user.id) }}" method="POST" class="col s12">
                {% if user.username != "admin" %}
                <div class="row switch">
                    <i class="material-icons pink-text darken-1">lock</i> Inactive
                    {% if user.active == true %}
                    <label for="active_{{user.username}}">
                        <input id="active_{{user.username}}" name="active" type="checkbox" checked>
                        {% else %}
                        <label for="active_{{user.username}}">
                            <input id="active_{{user.username}}" name="active" type="checkbox">
                            {% endif%}
                            <span class="lever tooltipped" data-position="bottom"
                                data-tooltip="Please toggle this switch if you want to inactivate (grey) this user account (the user will not be able to sign in to the Book Repository)."></span>
                        </label>
                        Active <i class="material-icons teal-text text-lighten-1">lock_open</i>
                </div>
                {% endif %}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix tooltipped" data-position="bottom"
                            data-tooltip="Please update the first name if required.">person</i>
                        <input id="first_name_{{user.username}}" name="first_name_{{user.username}}" type="text" maxlength="250"
                            value="{{user.first_name}}" required>
                        <label for="first_name_{{user.username}}">First Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix tooltipped" data-position="bottom"
                            data-tooltip="Please update the last name if required.">group</i>
                        <input id="last_name_{{user.username}}" name="last_name_{{user.username}}" type="text" maxlength="250"
                            value="{{user.last_name}}" required>
                        <label for="last_name_{{user.username}}">Last Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix tooltipped" data-position="bottom"
                            data-tooltip="Please update the password if required. The current password is hashed ($2b$...), delete it and enter your new password if required.">vpn_key</i>
                        <input id="password_{{user.username}}" name="password_{{user.username}}" type="password" maxlength="250" value="{{user.password}}" required>
                        <label for="password_{{user.username}}">Password</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix tooltipped" data-position="bottom"
                            data-tooltip="Please enter the new password again for confirmation.">vpn_key</i>
                        <input id="password_conf_{{user.username}}" name="password_conf_{{user.username}}" type="password" maxlength="250"
                            value="{{user.password}}" required>
                        <label for="password_conf_{{user.username}}">Password Confirmation</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix tooltipped" data-position="bottom"
                            data-tooltip="Please update the e-mail address if required.">email</i>
                        <input id="email_{{user.username}}" name="email_{{user.username}}" type="email" maxlength="64" value="{{user.email}}" required>
                        <label for="email_{{user.username}}">E-mail</label>
                    </div>
                </div>
                <div class="modal-footer">
                    {% if user.username != "admin" %}
                    <div class="left">
                        <a href="{{ url_for('admin_delete_user', user_id=user.id) }}"
                            class="modal-close btn waves-effect waves-light pink darken-1 tooltipped" data-position="right"
                            data-tooltip="This will PERMANENTLY delete the user and associated books!"><i
                                class="material-icons white-text right">delete_forever</i>&nbsp;Delete</a>
                    </div>
                    {% endif %}
                    <div class="right">
                        <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Update<i
                                class="material-icons right">playlist_add</i></button>
                        <a href="#!" class="modal-close btn waves-effect waves-light blue darken-4"><i
                                class="material-icons white-text right">pan_tool</i>&nbsp;Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}