<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description"
        content="Developer and Designer: Naoise Gaffney - 'Gaff'. Title: Book Repository. Reason: third 
        milestone project for the Code Institute's Diploma in Full Stack Development. Description: The 
        Book Repository is a digital or virtual library to store information about your books, such as 
        title, author, year published, ISBN, rating, description, and your personal reflection and comments.
        The Book Repository provides a private and public search function too, using any combination of title, 
        author, ISBN, and rating.">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <title>{{ user_manager.USER_APP_NAME }}</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/style.css') }}">
    <!-- Cookie Consent by Osano: https://www.osano.com/cookieconsent/download/ -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    {# *** Allow sub-templates to insert extra html to the head section *** #}
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        {% block body %}
        <nav class="nav-wrapper white">
            <div class="container">
                <a href="{{url_for('home_page')}}"><img src="/static/images/logo_bookstack_text_96_spacing.png"
                        height="60" alt="Book Repository Logo"></a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons blue-text text-darken-4" id="matnavbar">menu</i>
                </a>
                <ul class="right hide-on-med-and-down blue darken-4 waves-effect" id="nav-mobile">
                    {% if call_or_get(current_user.is_authenticated) %}
                    {% if current_user.username == "admin"%}
                    <li>
                        <a href="{{ url_for('admin_dashboard')}}">Admin Page<i class="material-icons right">table_chart</i></a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('member_page')}}">Member's Page<i class="material-icons right">dashboard</i></a>
                    </li>
                    <li>
                        <a href="{{ url_for('user.edit_user_profile') }}">{{ current_user.username or current_user.email }}<i
                                class="material-icons right">account_box</i></a>
                    </li>
                    <li>
                        <a href="{{ url_for('user.logout') }}">{%trans%}Sign Out{%endtrans%}<i
                                class="material-icons right">pan_tool</i></a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('home_page')}}">Home<i class="material-icons right">home</i></a>
                    </li>
                    <li>
                        <a href="{{ url_for('user.login') }}">{%trans%}Sign In{%endtrans%}<i
                                class="material-icons right">login</i></a>
                    </li>
                    <li>
                        <a href="{{ url_for('user.register')}}">Register<i
                                class="material-icons right">how_to_reg</i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Naviagtion for Mobile devices using a "Hamburger-menu" which must be defined outside of <nav></nav> to function in Materialize 1.0.0 -->
        <ul class="sidenav blue darken-4" id="mobile-links">
            {% if call_or_get(current_user.is_authenticated) %}
            {% if current_user.username == "admin"%}
            <li>
                <a href="{{ url_for('admin_dashboard')}}" class="white-text">Admin Page<i class="material-icons white-text left">table_chart</i></a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('member_page')}}" class="white-text">Member's Page<i
                        class="material-icons white-text left">dashboard</i></a>
            </li>
            <li>
                <a href="{{ url_for('user.edit_user_profile') }}"
                    class="white-text">{{ current_user.username or current_user.email }}<i
                        class="material-icons white-text left">account_box</i></a>
            </li>
            <li>
                <a href="{{ url_for('user.logout') }}" class="white-text">Sign Out<i
                        class="material-icons white-text left">pan_tool</i></a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('home_page')}}" class="white-text">Home<i
                        class="material-icons white-text left">home</i></a>
            </li>
            <li>
                <a href="{{ url_for('user.login') }}" class="white-text">Sign In<i
                        class="material-icons white-text left">login</i></a>
            </li>
            <li>
                <a href="{{ url_for('user.register')}}" class="white-text">Register<i
                        class="material-icons white-text left">how_to_reg</i></a>
            </li>
            {% endif %}
        </ul>
    </header>
    {% block menu %}
    {% endblock %}

    <div id="main-div" class="container">
        {# One-time system messages called Flash messages #}
        {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
        {% if messages %}
        {% for category, message in messages %}
        {% if category=='error' %}
        {% set category='danger' %}
        {% endif %}
        <div class="message chip message-{{category}}">{{ message|safe }}</div>
        {% endfor %}
        {% endif %}
        {%- endwith %}
        {% endblock %}
    </div>

    {% block main %}
    {% block content %}{% endblock %}
    {% endblock %}

    <footer class="page-footer transparent">
        <div class="footer-copyright blue darken-4">
            <div class="left-align">{{ user_manager.USER_APP_NAME }} {{ user_manager.USER_APP_VERSION }}</div>
            <div class="center-align"><a class="modal-trigger" href="#about"><i class="material-icons white-text"
                        id="menu_book">menu_book</i></a></div>
            <div class="right-align">&copy; {{ user_manager.USER_COPYRIGHT_YEAR }}
                {{ user_manager.USER_CORPORATION_NAME }}</div>
        </div>
        <div class="container">
            <div id="about" class="modal center">
                <div class="modal-content">
                    <ul class="tabs blue darken-4 center">
                        <li class="tab">
                            <a href="#bookrepo" class="active blue darken-4 white-text waves-effect">Book Repository</a>
                        </li>
                        <li class="tab">
                            <a href="#gaff" class="active blue darken-4 white-text waves-effect">Gaff</a>
                        </li>
                        <li class="tab">
                            <a href="#ecs_logo" class="active blue darken-4 white-text waves-effect">Logo</a>
                        </li>
                        <li class="tab">
                            <a href="#code" class="active blue darken-4 white-text waves-effect">Code</a>
                        </li>
                    </ul>
                    <div id="bookrepo" class="flow-text">
                        <!-- <p class="flow-text blue-text text-darken-4">Book Repository</p> -->
                        <p><img src="/static/images/logo_bookstack_text_96_spacing.png" height="75"
                                alt="Book Repository Logo"></p>
                        <p>A safe virtual repository for books...</p>
                    </div>
                    <div id="gaff" class="flow-text">
                        <p class="flow-text blue-text text-darken-4">Naoise Gaffney - "Gaff"</p>
                        <p><img src="/static/images/Gaff.png" height="150" alt="Gaff"></p>
                        <p>Code Institute Learner and Developer of this Book Repository Milestone Project 3 for the Code
                            Institute Diploma in Full Stack Development.</p>
                        <p>UX Designer, Python Programmer...</p>
                    </div>
                    <div id="ecs_logo" class="flow-text">
                        <!-- <p class="flow-text blue-text text-darken-4">Logo Description</p> -->
                        <p><img src="/static/images/logo_bookstack_text_96_spacing.png" height="75"
                                alt="Book Repository Logo"></p>
                        <p>A stack of books, stored in a repository, with the text "Book Repository".</p>
                    </div>
                    <div id="code" class="flow-text">
                        <p class="flow-text blue-text text-darken-4">Code on GitHub</p>
                        <p>Code on GitHub...</p>
                        <p><a href="https://github.com/NaoiseGaffney/BookRepository" target="_blank" rel="noopener"
                                class="blue darken-4 waves-effect">Link to the Book Repository Repository on GitHub.</a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close btn waves-effect waves-light blue darken-4">Thank You!<i
                                class="material-icons right">thumb_up</i></a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    {% endblock %}

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Initialise MaterializeCSS 1.0.0 Features -->
    <script src="{{ url_for('static', filename = 'scripts/materialize.js') }}"></script>
    <!-- Message Chip Timeout -->
    <script src="{{ url_for('static', filename = 'scripts/message.js') }}"></script>
    <!-- Cookie Consent by Osano: https://www.osano.com/cookieconsent/download/ -->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script src="/static/scripts/cookies.js"></script>

    {# *** Allow sub-templates to insert extra html to the bottom of the body *** #}
    {% block extra_js %}{% endblock %}
</body>

</html>