{% extends "flask_user_layout.html" %}
{% block content %}
<section class="container center">
    <br>
    <div class="landing_page">
    <img class="landing_logo" src="/static/images/logo_bookstack_text_96_spacing.png" alt="Book Repository Logo" />
    </div>
    <br>
    <div class="landing_page">
    <h6>Welcome!</h6>
    <br>
    <p>The Book Repository is a digital or virtual library to store information about your books, such as
    title, author, year published, ISBN, genre, rating, description, and your reflection and comments.</p>
    <br>
    <p>The Book Repository provides a private and public search function too, using any combination of title,
    author, ISBN, genre, and rating.</p>
    </div>
</section>
{% endblock %}