{% extends "flask_user_layout.html" %}
{% block content %}
<h6>Home page</h6>
<p><a href={{ url_for('user.register') }}>Register</a></p>
<p><a href={{ url_for('user.login') }}>Sign in</a></p>
<p><a href={{ url_for('home_page') }}>Home page</a> (accessible to anyone)</p>
<p><a href={{ url_for('member_page') }}>Member page</a> (login required)</p>
<p><a href={{ url_for('user.logout') }}>Sign out</a></p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos vitae cumque molestiae praesentium eos odit, incidunt
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
velit quas recusandae inventore ratione dolore iusto autem enim ex, doloribus amet odio eligendi!</p>
{% endblock %}