{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
<h6><a href="{{ url_for('home_page') }}">Home Page</a></h6>
<p><a href="{{ url_for('user.register') }}">Register</a></p>
<p><a href="{{ url_for('user.login') }}">Sign In</a></p>
<p><a href="{{ url_for('home_page') }}">Home Page</a> (accessible to anyone)</p>
<p><a href="{{ url_for('member_page') }}">Member's Page</a> (login required)</p>
<p><a href="{{ url_for('user.logout') }}">Sign Out</a></p>
</div>
{% endblock %}