{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    {% if call_or_get(current_user.is_authenticated) %}
    <h6>Home&nbsp; > &nbsp;<a href="{{ url_for('member_page') }}">Member's Page</a>
        - <a href="{{ url_for('user.edit_user_profile') }}">{{ current_user.username or current_user.email }}!&nbsp;<i
                class="material-icons">how_to_reg</i></a></h6>
    {% else %}
    <h6><a href="{{ url_for('home_page')}}">Home</a>&nbsp; > &nbsp;<a href="{{ url_for('member_page') }}">Member's
            Page</a> - <a
            href="{{ url_for('user.edit_user_profile') }}">{{ current_user.username or current_user.email }}!&nbsp;<i
                class="material-icons">how_to_reg</i></a></h6>
    {% endif %}

    <ul class="collapsible popout">
        {% if user_books %}
        {% for user_book in user_books %}
        <li>
            <div class="collapsible-header">
                <div class="book_spine">
                    <a href="{{url_for('edit_book', book_id=user_book.id)}}"><i class="material-icons blue-text text-darken-4">create</i></a>
                    <a class="modal-trigger" href="#delete_book"><i class="material-icons pink-text text-accent-2">delete_forever</i></a>
                    <i class="material-icons teal-text text-lighten-1">visibility</i>
                    
                    <div id="delete_book" class="modal">
                        <div class="modal-content">
                            <h6>Deleting Book: {{user_book.title}}, by {{user_book.author}}</h6>
                            <p>This action will permanently delete this book from your Book Repository. Are you sure you wish to do this?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{url_for('delete_book', book_id=user_book.id)}}" class="modal-close btn orange">Yes</a>
                            <a href="#!" class="modal-close btn orange">No</a>
                        </div>
                    </div>
                    
                </div>
                <div>
                    <h6>{{user_book.title}}, by {{user_book.author}}</h6>
                </div>
            </div>
            <div class="collapsible-body">
                <p>Published: {{user_book.year}}, ISBN: {{user_book.ISBN}}</p>
                <p>Description: {{user_book.short_description}}</p>
                <p>Comments: {{ user_book.comments }}</p>
                {% if user_book.rating > 7 %}
                <p>Rating: <span class="green-text book_spine">{{ user_book.rating }}</span></p>
                {% elif user_book.rating > 5 %}
                <p>Rating: <span class="orange-text book_spine">{{ user_book.rating }}</span></p>
                {% else %}
                <p>Rating: <span class="red-text book_spine">{{ user_book.rating }}</span></p>
                {% endif %}
            </div>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}