@import url('https://fonts.googleapis.com/css?family=Raleway|&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    margin-top: 35px;
    margin-bottom: 35px;
    background-image: url("/static/images/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg");
    background-position: center;
    background-size: 2300px;
    background-repeat: no-repeat;
    position: relative;
}

/* main {
    flex: 1 0 auto;
} */

/* <a href... */
a {
    color: #d81b60;
}

/* Navigation Bar: fixed and MaterializeCSS styling. */
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
}

.sidenav {
    width: 230px;
}

/* Footer: fixed footer and MaterializeCSS styling. Using box-shadow (in reverse) from the MaterializeCSS navbar class. */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0D47A1;
    color: #FFFFFF;
    text-align: center;
}

.footer-copyright {
    -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px 0 rgba(0, 0, 0, 0.12), 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px 0 rgba(0, 0, 0, 0.12), 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px 0 rgba(0, 0, 0, 0.12), 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

.page-footer,
.footer-copyright {
    padding: 0px;
    z-index: 10;
}

#menu_book {
    transform: scale(1.2);
    padding: 0px 2px;
}

footer .left-align {
    padding-left: 15%;
}

footer .right-align {
    padding-right: 15%;
}

/* Modal Colour Schemes to match the Book Repository UX Design */
.modal,
.modal-footer {
    /* background-color: #FFFFFF !important; */
    font-family: 'Raleway', sans-serif;
    color: #0D47A1;
}

.page-footer,
.tabs .indicator {
    background-color: #0D47A1;
}

/* Message Chips (Flask, MaterializeCSS 1.0.0, custom CSS 3, and a JS Timeout function = Flask Flash Messages */
.message-success {
    color: #FFFFFF;
    background-color: #26A69A;
}

.message-info {
    color: #FFFFFF;
    background-color: #37474F;
}

.message-warning {
    color: #FFFFFF;
    background-color: orange;
}

.message-danger {
    color: #FFFFFF;
    background-color: #FF4081;
}

.help-block {
    color: #FFFFFF;
    background-color: #FF4081;
}

/* ToolTip and ToolTipText position and colour scheme */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    /* top: 100%; */
    left: 80%;
    /* margin-left: -20px; */
    margin-left: 40px;
    background-color: #26A69A;
    color: #fff;
    text-align: center;
    padding: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 2;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Book Spine background-image for the Member's Page */
.collapsible-header {
    /* background-image: url("/static/images/book_spine.jpg"); */
    background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
    background-position: left;
}